-
  var links = [
    {
      href: '#',
      img: 'images/test-img/5.png',
      subtitle: 'Суперсвежие идеи для вашей квартиры',
    },
    {
      href: '#',
      img: 'images/test-img/6.png',
      subtitle: 'Создадим редкий, необычный интерьерный стиль',
    },
  ]
.masonry
  ul.masonry__list
    - for (var i = 0; i < links.length; i++)
      li.masonry__item
        a(href=links[i].href aria-label="icon").masonry__link
          .masonry__img
            img(src=links[i].img alt=links[i].subtitle width="434" height="578").img-masonry
          .masonry__subtitle
            .masonry__subtitle-text= links[i].subtitle
          .masonry__btn
            .button.button--shadow Подробнее