section.design
  .design__inner
    .inner-bg
      .wrapper
        .design__title
          .title-content.title-content--black Новый взгляд на индустрию дизайна
        .design__masonry
          include ../components/DesignLinks