footer.footer
  .footer__inner
    .footer__bg
    .footer__bg-black
      .wrapper.wrapper--md
        .footer__subtitle 
          .title-content.title-content--light-brown Искусство не продаётся
        .footer__btn
          button.button Всё равно хочу
        .footer__info
          .footer__info-menu
            ul.footer__info-list
              li.footer__menu-item
                a.footer__menu-link(href="#" aria-label="menu-link") Артобъекты
              li.footer__menu-item
                a.footer__menu-link(href="#" aria-label="menu-link") О проекте
              li.footer__menu-item
                a.footer__menu-link(href="#" aria-label="menu-link") Контакты
          .footer__info-logo
            a.footer__info-link(href="#" aria-label="logo")
              img(src='images/logo.svg' alt='img').logo-img
            .footer__info-copyright © Maestra, 2017-2019. Все права защищены
          .footer__info-contact
            .footer__info-number +7 800 00 00 000
            .footer__info-email email@email.com
            .footer__info-address Санкт-Петербург, ул. Невская, 76
          .footer__copyright-mobile © Maestra, 2017-2019. Все права защищены