section.works
  .works__inner
    .inner-bg
      .wrapper
        .works__title
          .title-content.title-content--brown Мы используем самые редкие и цепляющие стили
        .works__masonry
          include ../components/WorksLinks