.inner-bg
  background-image: url('../images/works-bg.png')
  background-repeat:no-repeat
  background-position: center
  background-size: cover
  padding-top: 80px
  display: flex
  justify-content: center
  align-items: center
  padding-top: 40px

  +above($breakpoints.sm)
    padding-top: 80px
