.wrapper
  max-width: 1080px
  margin: 0 auto
  padding-left: 20px
  padding-right: 20px
  width: 100%
  &--md
    max-width: 1160px

  &--lg
    max-width: 1158px

  &--xl
    max-width: 1320px

.d-none
  display: none
