$base-font-family = "Futura"

$breakpoints = {
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1200px
}

$color-primary = #C7A677
$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-brown = #4D3008
$color-white = #FAF8F5
$color-grey = #999999
$color-dark-brown = #1A1003
$color-light-brown = #C7A677
$color-black = #000000